@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Varela+Round&display=swap');

@font-face {
  font-family: LongCang;
  src: url('fonts/LongCang-Regular.ttf');
}

@font-face {
  font-family: Roboto;
  src: url('fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: RubikDoodleTriangles;
  src: url('fonts/RubikDoodleTriangles-Regular.ttf');
}

@font-face {
  font-family: RubikScribble;
  src: url('fonts/RubikScribble-Regular.ttf');
}

@font-face {
  font-family: VarelaRound;
  src: url('fonts/VarelaRound-Regular.ttf');
}
