@use 'anarchy-shared/src/assets/constants' as anarchy_constants;
//Adds dynamic font-family (changed on locale/lang change)
@use 'anarchy-i18n/src/assets/_i18n.scss';
@use 'showcases-shared/src/assets/_fonts';
@import url(sanitize.css);

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: anarchy_constants.$base-font-size;
  font-style: normal;
  font-weight: normal;
  overflow: hidden;
  user-select: none;
  -webkit-app-region: no-drag;
}

#app {
  position: absolute;
  inset: 0;
  left: 0;
  top: 0;
  outline: none;
  z-index: 1;
}

canvas {
  z-index: 1;
}
