@use 'anarchy-shared/src/assets/constants' as anarchy_constants;
@import url(sanitize.css);

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: anarchy_constants.$base-font-size;
  user-select: none;
  -webkit-app-region: no-drag;
}

#app {
  position: absolute;
  inset: 0;
  left: 0;
  top: 0;
  outline: none;
  z-index: 1;
}

canvas {
  z-index: 1;
}
