@import url(sanitize.css);

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 14px;
  user-select: none;
  -webkit-app-region: no-drag;
}

#app {
  position: fixed;
  left: 0;
  top: 0;
  outline: none;
  z-index: 1;
}

canvas {
  z-index: 1;
}

#gui {
  position: fixed;
  inset: 0;
  z-index: 10;
  pointer-events: auto;
}
