@import url(sanitize.css);

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 14px;
  user-select: none;
  -webkit-app-region: no-drag;
}

#app {
  position: absolute;
  inset: 0;
  left: 0;
  top: 0;
  outline: none;
  z-index: 1;
}

canvas {
  z-index: 1;
}

#menu {
  display: none;
  position: absolute;
  inset: 0;
  z-index: 10;
  pointer-events: auto;
  backdrop-filter: blur(4px);

  &.-active {
    display: block;
  }
}

#ui {
  display: none;
  position: absolute;
  inset: 0;
  z-index: 10;
  pointer-events: auto;

  &.-active {
    display: block;
  }
}
