@import 'tailwindcss';

/*@layer theme, base, components, utilities;*/
/*@import "tailwindcss/theme.css" layer(theme);*/
/*!* Disable preflight (dropping of the default css styles)*!*/
/*!*@import "tailwindcss/preflight.css" layer(base);*!*/
/*@import "tailwindcss/utilities.css" layer(utilities);*/
