@import url(../../node_modules/sanitize.css/sanitize.css);

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 14px;
}

#app {
  position: fixed;
  left: 0;
  top: 0;
  outline: none;
}
