@use 'anarchy-shared/src/assets/constants' as anarchy_constants;
@import url(sanitize.css);

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // TODO DESKTOP: add font family
  //font-family: ???
  font-size: anarchy_constants.$base-font-size;
  font-style: normal;
  font-weight: normal;
  user-select: none;
  -webkit-app-region: no-drag;
}

#menu {
  display: none;
  position: absolute;
  inset: 0;
  z-index: 10;
  pointer-events: auto;
  backdrop-filter: blur(4px);
  overflow: auto;

  &.-active {
    display: flex;
  }
}
