@font-face {
  font-family: 'Noto Sans';
  // TODO DESKTOP: use proper 'Noto Sans' (subsets or smt)
  // TODO DESKTOP: make presets for asian/arabic langs
  // TODO DESKTOP: implement app-level translation (i18n, not fonts)
  src: url('NotoSans-Regular.woff2') format('woff2');
  //src: url('NotoSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LongCang';
  src: url('LongCang-Regular.woff2') format('woff2');
  //src: url('LongCang-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
