@font-face {
  font-family: 'Noto Sans';
  // TODO DESKTOP: convert fonts to woff2
  // TODO DESKTOP: use proper 'Noto Sans' (subsets or smt)
  // TODO DESKTOP: make presets for asian/arabic langs
  src:
    //url("/fonts/NotoSansSC-Regular.woff2") format("woff2"),
    url('NotoSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LongCang';
  src:
    //url("/fonts/NotoSansSC-Regular.woff2") format("woff2"),
    url('LongCang-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
